* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
}

/**NAVBAR STYLE**/

.navbar {
  background-color: #206bb5;
  color: #fff;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: center;
}

.logo img {
  height: 90px;
  width: 100px;
  margin-top: 3rem;
  margin-left: 5rem;
}

/**MENU STYLE**/

.nav-menu ul {
  display: flex;
  gap: 2rem;
  margin-left: 5rem;
}

.nav-menu li {
  list-style: none;
  text-decoration: none;
}

.nav-menu a {
  color: #e6e6fc;
  text-decoration: none;
}

.nav-menu a:hover {
  color: #fff;
}

/** BUTTON STYLE**/

.button {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1rem;
  margin-left: 12rem;
}

.login-button button {
  font-size: 1rem;
  color: #616bb5;
  border: none;
  padding: 10px 25px;
  border-radius: 25px;
}

.login-button button:hover {
  background-color: #e6e6fc;
}

.register-button button {
  font-size: 1rem;
  background-color: #2188ee;
  color: #fff;
  border: none;
  padding: 12px 20px;
  border-radius: 25px;
}

.register-button button:hover {
  color: #fff;
  background-color: #2a649f;
}

/************** RESPONSIVE OF NAVBAR ************/

@media (max-width: 62em) {
  .navbar {
    flex-direction: column;
    height: 50vh;
  }

  .nav-menu ul {
    margin-top: 2rem;
  }

  .button {
    margin-top: 2rem;
  }
}

@media (max-width: 600px) {
  .nav-menu ul {
    gap: 1rem;
  }

  .nav-menu a {
    font-size: 0.8rem;
  }

  .login-button button {
    font-size: 0.8rem;
    padding: 10px 25px;
  }

  .register-button button {
    font-size: 0.8rem;
    padding: 12px 20px;
  }
}

/* CSS OF FIRST CONTAINER */

.first-container {
  display: flex;
}

.first-container-first-box {
  width: 70%;
  text-align: center;
}

.text-div {
  margin-top: 6rem;
}

.text-div h2 {
  color: #3a3d5e;
  font-size: 2rem;
}

.text-div p {
  color: #9fa0a7;
  margin-top: 1rem;
  width: 80%;
  text-align: center;
  margin: 0 6rem;
}

.text-div button {
  font-size: 1rem;
  color: #fff;
  background-color: #2188ee;
  border: none;
  padding: 10px 25px;
  border-radius: 25px;
  margin-top: 1rem;
}

.text-div button:hover {
  color: #fff;
  background-color: #2a649f;
}

.img-div {
  position: relative;
}

.my-image {
  position: absolute;
  width: 100%;
  height: 32rem;
  top: -100px;
  left: 0px;
}

/**** CSS OF FIRST CONTAINER SECOND BOX ***/

.first-container-second-box {
  background-color: #1c7cdb;
  width: 30%;
  text-align: center;
}

.first-container-second-box h2 {
  color: #fff;
  text-align: center;
  margin: 6rem 1rem;
}
.second-box-img {
  width: 100%;
  height: 100%;
  border-radius: 0 25px 0 25px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.second-box-img:hover {
  transform: scale(1.1);
}

.first-container-second-box-img {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: 2rem;
}

/************** RESPONSIVE FIRST CONTAINER ************/

@media (max-width: 62em) {

  /* FIRST CONTAINER  FIRST BOX*/

  .first-container {
    flex-direction: column;
  }
  
  .first-container-first-box {
    width: 100%;
    text-align: center;
  }

  /* FIRST CONTAINER SECOND BOX */

  .first-container-second-box {
    flex-direction: column;
    display: block;
    width: 100%;
  }
  
  /* .first-container-second-box h2 {
    color: #fff;
    text-align: center;
    margin: 6rem 1rem;
  }
  .second-box-img {
    width: 100%;
    height: 100%;
    border-radius: 0 25px 0 25px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }
  
  .second-box-img:hover {
    transform: scale(1.1);
  }
  
  .first-container-second-box-img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin: 2rem;
  } */

}