* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
}

/**NAVBAR STYLE**/

.navbar {
  background-color: #206bb5;
  color: #fff;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: center;
  position: sticky;
  z-index: 100;
}

.logo img {
  height: 90px;
  width: 100px;
  margin-top: 3rem;
  margin-left: 5rem;
}

/**MENU STYLE**/

.nav-menu ul {
  display: flex;
  gap: 2rem;
  margin-left: 5rem;
}

.nav-menu li {
  list-style: none;
  text-decoration: none;
}

.nav-menu a {
  color: #e6e6fc;
  text-decoration: none;
}

.nav-menu a:hover {
  color: #fff;
}

/** BUTTON STYLE**/

.button {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1rem;
  margin-left: 8rem;
}

.login-button button {
  font-size: 1rem;
  color: #616bb5;
  border: none;
  padding: 10px 25px;
  border-radius: 25px;
  background-color: #fff;
}

.login-button button:hover {
  background-color: #e6e6fc;
}

.register-button button {
  font-size: 1rem;
  background-color: #2188ee;
  color: #fff;
  border: none;
  padding: 12px 20px;
  border-radius: 25px;
}

.register-button button span {
  font-size: 10px;
}

.register-button button:hover {
  color: #fff;
  background-color: #2a649f;
}

/************** RESPONSIVE OF NAVBAR ************/

@media (max-width: 62em) {
  .navbar {
    flex-direction: column;
    height: 50vh;
  }

  .nav-menu ul {
    margin-top: 2rem 2rem;
  }

  .button {
    margin-top: 2rem;
  }
}

@media (max-width: 600px) {
  .nav-menu ul {
    gap: 1rem;
  }

  .nav-menu a {
    font-size: 0.8rem;
  }

  .login-button button {
    font-size: 0.8rem;
    padding: 10px 25px;
  }

  .register-button button {
    font-size: 0.8rem;
    padding: 12px 20px;
  }
}

/* CSS OF FIRST CONTAINER */

.first-container {
  display: flex;
}

.first-container-first-box {
  width: 72%;
  text-align: center;
}

.text-div {
  margin-top: 6rem;
}

.text-div h2 {
  color: #3a3d5e;
  font-size: 2rem;
}

.text-div p {
  color: #9fa0a7;
  margin-top: 1rem;
  width: 80%;
  text-align: center;
  margin: 0 6rem;
}

.text-div button {
  font-size: 1rem;
  color: #fff;
  background-color: #2188ee;
  border: none;
  cursor: pointer;
  padding: 10px 25px;
  border-radius: 25px;
  margin-top: 1rem;
  transition: transform 0.2s ease-in;
}

.text-div button:hover {
  color: #fff;
  background-color: #2a649f;
  transform: scale(1.1);
}

.img-div {
  position: relative;
}

.my-image {
  position: absolute;
  width: 100%;
  height: 36rem;
  top: -100px;
  left: 0px;
}

/**** CSS OF FIRST CONTAINER SECOND BOX ***/

.first-container-second-box {
  background-color: #1c7cdb;
  width: 30%;
}

.first-container-second-box h2 {
  color: #fff;
  text-align: center;
  margin: 0rem 1rem;
  margin-top: 5rem;
  margin-bottom: 2rem;
}
.second-box-img {
  width: 100%;
  height: 100%;
  border-radius: 0 25px 0 25px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.second-box-img:hover {
  transform: scale(1.1);
}

.first-container-second-box-img {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: 2rem;
}

/************** RESPONSIVE FIRST CONTAINER ************/

@media (max-width: 62em) {
  /* FIRST CONTAINER  FIRST BOX*/

  .first-container {
    flex-direction: column;
  }

  .first-container-first-box {
    width: 100%;
    text-align: center;
  }

  /* FIRST CONTAINER SECOND BOX */

  .first-container-second-box {
    width: 100%;
    margin-top: 25rem;
  }

  .second-box-img {
    width: 100%;
    height: 100%;
    border-radius: 0 25px 0 25px;
  }

  .first-container-second-box-img {
    gap: 2rem;
  }
}

/* SECTION SECOND CONTAINER */

.second-container {
  position: relative;
  top: 6px;
}

.second-container img {
  max-width: 100%;
  /* height: auto; */
}

.second-container-heading {
  position: absolute;
  top: 0;
  margin-top: 4rem;
  left: 20%;
  /* align-items: center;
  text-align: center;  */
}

.second-container-heading h2 {
  color: #fff;
  margin-bottom: 1rem;
}

.second-container-heading a {
  color: #9fa0a7;
  text-decoration: none;
  margin: 1rem;
  padding: 1rem 1rem;
}

.section {
  background-color: #524a6c;
  border-radius: 25px;
  padding: 1.5rem 0;
  text-align: center;
  font-size: 1rem;
}

.sectio,
.active {
  color: #ccf8c7;
  background-color: #4d6377;
  border-radius: 25px;
}
/* .section a:hover {
  color: rgb(167, 255, 167);
  background-color: #4c6377;
  border-radius: 25px;
} */

sub-section {
  display: flex;
  justify-content: space-around;
  position: relative;
}

.sub-section-first-box {
  max-width: 40%;
  position: absolute;
  top: -30rem;
  left: 9rem;
}

.sub-section-first-box img {
  width: 80px;
  height: 80px;
  background-color: #6e4bec;
  border-radius: 0.6rem;
}

.sub-section-first-box,
h2,
p,
button {
  margin-top: 1rem;
  color: #fff;
}

button {
  font-size: 1rem;
  color: #fff;
  background-color: #2188ee;
  border: none;
  cursor: pointer;
  padding: 10px 25px;
  border-radius: 25px;
}

.sub-section-second-box {
  /* max-width: 60%; */
  position: absolute;
  top: -30rem;
  left: 50rem;
}

.sub-section-second-box img {
  max-width: 70%;
  height: auto;
  margin-top: 1rem;
}

/* THIRD SECTION */

.third-section {
  position: relative;
}

.third-section-img img {
  max-width: 100%;
}

.img2 {
  position: absolute;
  top: 19.3rem;
  left: 0;
}

.third-section-child {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.third-section-text {
  position: absolute;
  top: 32rem;
  left: 12rem;
}

.third-section-text h2 {
  color: #3a3d5e;
}
.third-section-text p {
  color: #4c6377;
}

.img-teacher {
  position: absolute;
  top: 20rem;
  right: 5rem;
}

/* css of fourth section */

.fourth-section {
  background-color: #f2f8ff;
  text-align: center;
  align-items: center;
}
.fourth-section h2 {
  color: black;
  text-align: center;
  padding: 2rem 0;
}

.fourth-section img {
  max-width: 70%;
  max-height: 70%;
  margin-bottom: 3rem;
}

/* CSS FOR FIFTH SECTION */

.fifth-section {
  /* background-color: red; */
}

hr,
.line {
  margin-top: 2rem;
  border-style: dashed;
  border-color: #333;
  border-width: 1px;
  margin: 20px 0;
  width: 100%;
  /* transform: rotate(90deg); */
}

.fifthsection-text {
  justify-content: center;
  text-align: center;
}

.fifthsection-text h2 {
  color: #000000;
  margin-top: 4rem;
  margin-bottom: 1rem;
}

.fifthsection-text p {
  color: #9fa0a7;
}

.fifthsection-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  width: 85%;
  margin: auto;
  /* align-items: center; */
  text-align: center;
}

.fifthsection-img {
  /* border: 2px solid black; */
  max-width: 100%;
  margin-top: 3rem;
  margin-left: 1.8rem;
}

.fifthsection-img img {
  width: 40%;
}

.fifthsection-img h4 {
  color: #3a3d5e;
  text-align: center;
}
.fifthsection-img p {
  color: #9fa0a7;
  text-align: center;
  font-size: 0.8rem;
}

/* CSS OF SIXTHSECTION */

.sixthsection {
  background-color: #f2f8ff;
  margin-top: 5rem;
  padding-top: 4rem;
  margin-bottom: 5rem;
}

.sixthsection-text span {
  font-size: 13px;
  font-weight: 100;
  color: #9fa0a7;
}

.sixthsection h3 {
  text-align: center;
  margin-bottom: 3rem;
}

.sixthsectionbox {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 1rem;
  width: 50%;
  margin: auto;
  padding: 0 3rem 7rem 3rem;
}

.sixthsectionimg img {
  width: 80%;
  margin-top: 2rem;
}

.sixthsection-text h4 {
  margin-top: 2rem;
}

.sixthsectionpara {
  margin-top: 0;
}
.sixthsection-text p {
  color: #9fa0a7;
}

/* CSS OF SEVENTH SECTION */

.seventhsection {
  display: flex;
  justify-content: space-evenly;
  margin: 5rem 0rem;
}

/* .seventsectinright-box{
  max-width: 100%;
} */

.seventhsectionleft-box img {
  cursor: pointer;
}

.seventhsectionleft-box h4 {
  font-size: 2.2rem;
}

.seventhsectionleft-box p {
  color: #9fa0a7;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

/* CSS FOR FOOTER */

.footer {
  background-color: #1c7cdb;
  padding: 3rem 0rem 2rem 3rem;
}

.footer-txt p {
  font-size: 12px;
  text-align: center;
  padding-top: 2rem;
}

.footer-container {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.div1 img {
  width: 40%;
}

.icons {
  color: #fff;
  padding: 2rem 0rem;
}

i {
  margin-right: 1rem;
  cursor: pointer;
}

.div2 {
  display: flex;
  flex-direction: column;
  margin: 0 2rem;
}

.div2 p {
  color: #7ca3d7;
  font-size: 12px;
}

.div2 a {
  color: #fff;
  text-decoration: none;
  padding-top: 1rem;
  font-size: 15px;
}

.div3 {
  display: flex;
  flex-direction: column;
  margin: 0 2rem;
}

.div3 p {
  color: #7ca3d7;
  font-size: 12px;
}

.div3 a {
  color: #fff;
  text-decoration: none;
  padding-top: 1rem;
  font-size: 15px;
}

.div4 {
  display: flex;
  flex-direction: column;
  margin: 0 2rem;
}

.div4 p {
  color: #7ca3d7;
  font-size: 12px;
}

.div4 a {
  color: #fff;
  text-decoration: none;
  padding-top: 1rem;
  font-size: 15px;
}

.div5 {
  display: flex;
  flex-direction: column;
  margin: 0 2rem;
}

.div5 p {
  color: #7ca3d7;
  font-size: 12px;
}

.div5 a {
  color: #fff;
  text-decoration: none;
  padding-top: 1rem;
  font-size: 15px;
}

.div6 {
  display: flex;
  flex-direction: column;
  margin: 0 2rem;
}

.div6 p {
  color: #7ca3d7;
  font-size: 12px;
}

.div6 a {
  color: #fff;
  text-decoration: none;
  padding-top: 1rem;
  font-size: 15px;
}
